<!-- public/views/addtravel.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   <center> <title>TRAVEL INC.</title></center>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
   <center> <h1></h1></center>
</div>

<!-- Registration form - START -->
<div class="container">
 <div class="row">
        <form role="form">
            <center>
            <div class="col-lg-6">
                <!--<div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>-->
                <div class="form-group">
                    <label for="InputName">Trip Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Trip Origin and Destination</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Origin" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input type="text" class="form-control" id="InputEmailSecond" name="InputEmail" placeholder="Destination" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Trip Start and End</label>
                    <div class="input-group">
                        <input type="date" class="form-control" id="InputEmailSecond" name="InputEmail" placeholder="Origin" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-plane"></span></span>
                        <input type="date" class="form-control" id="InputEmailSecond" name="InputEmail" placeholder="Destination" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-plane"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Overarching Trip</label>
                    <div class="input-group">
                        <label>
                        <input type="checkbox" class="form-control2" name="Option 1" style="border: 1px solid #ccc;"> 
                        Option 1
                        </label>
                        <br>
                        <label>
                        <input type="checkbox" class="form-control2" name="Option 2"> 
                        Option 2
                        </label>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-pushpin"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputImage">Add a picture</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="InputImage" name="InputImage" placeholder="Origin" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Enter Message</label>
                    <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-heart-empty"></span></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Enter" class="btn btn-info pull-right">
            </div>
        </form>
        
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
             <!--   <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span> Success! Message sent.</strong>
                </div>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
                </div>-->
                <div class="gmaps" style="margin-left: 5px; margin-right: 5px;">
                <iframe width="600" height="800" frameborder="0" style="border:0" src="http://www.map-centre.com.au/schoolmaps/World_maps/World-wall-Maps/MAPS-INTERNATIONAL-WORLD-20M-mid.jpg" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        
    </div>
</div>
</center>
<!-- Registration form - END -->

</div>

</body>
</html>